.App {
}

.App-header {
  position: relative;
  background-color: #3f51b5;
  color: white;
  font-size: 24px;
  padding-top: 48px;
}

.App-logo {
  position: absolute;
  left: 16px;
  top: 16px;
}

.App-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 48px;
}

.App-nav a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.App-nav a.App-nav-active {
  background-color: white;
  color: #3f51b5;
}
